<div class="table-responsive db-grid">

    <div class="btn-toolbar">
        <a ng-if="_model.showAdvancedFilter" href="" class="btn btn-default" ng-click="_model.clearFilters()">Clear All Filters <span class="big-x">&times;</span></a>

        <div ng-if="!_model.showAdvancedFilter && _model.filterType !== 'none'" class="toolbar-input">
            <div class="form-group has-feedback">
                <input class="form-control" type="text" ng-model="_model.filterText" ng-keyup="_model.refreshFilter()"
                       placeholder="Filter {{_model.label || 'items'}}" isolate-control />
                <a href="" ng-click="_model.filterText = ''; $grid.refresh()" class="form-control-feedback feedback-link">&times;</a>
            </div>
        </div>

        <a href="" ng-if="_model.filterType === 'advanced'" class="btn btn-default" ng-class="{'btn-primary': _model.showAdvancedFilter}"
           ng-click="_model.showAdvancedFilter = !_model.showAdvancedFilter">{{_model.showAdvancedFilter ? 'Simple' : 'Advanced'}} Filtering</a>

        <db-transclude></db-transclude>

        <p ng-if="_model.total && _model.label"><i>{{_model.total}} {{_model.label}}</i></p>
    </div>

    <ul class="pagination" ng-if="_model.total > _model.pageSize && !_model.waiting && _model.pagingLayout == 'both' || _model.pagingLayout == 'top'" >
        <li ng-if="_model.currentPage > 1">
            <a href="" aria-label="First" ng-click="_model.setPage(1)">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage <= 1">
            <a href="" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li ng-if="_model.currentPage > 1">
            <a href="" aria-label="Previous" ng-click="_model.setPage(_model.currentPage - 1)">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage <= 1">
            <a href="" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li ng-repeat="page in _model.getPages()" ng-class="{active: page === _model.currentPage}">
            <a href="" ng-click="_model.setPage(page)">{{page}}</a>
        </li>

        <li ng-if="_model.currentPage < (_model.total / _model.pageSize)">
            <a href="" aria-label="Next"  ng-click="_model.setPage(_model.currentPage + 1)">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage >= (_model.total / _model.pageSize)">
            <a href="" aria-label="Next" class="disabled">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li ng-if="_model.currentPage < (_model.total / _model.pageSize)">
            <a href="" aria-label="Last" ng-click="_model.setPage(1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize)">
                <span aria-hidden="true">Last ({{1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize}})</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage >= (_model.total / _model.pageSize)">
            <a href="" aria-label="Last" class="disabled">
                <span aria-hidden="true">Last ({{1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize}})</span>
            </a>
        </li>

    </ul>

    <table class="table db-grid table-hover {{_model.tableClass}}">
        <thead>
            <tr ng-if="_model.showAdvancedFilter">
                <th ng-repeat="_col in _model.cols" ng-style="{width: _col.width}" class="{{_col.colClass}}">
                    <div ng-if="::_col.canSort">
                        <input type="text" class="form-control filter-input"
                               ng-keyup="_model.refreshFilter()" ng-model="_col.filter" placeholder="Filter {{::_col.label || (_col.key | labelCase)}}"
                               tooltip="{{_model.getTooltip(_col)}}"  tooltip-trigger="focus"
                               tooltip-placement="top" isolate-control />
                    </div>
                </th>
            </tr>
            <tr>
                <th ng-repeat="_col in _model.cols" ng-style="{width: _col.width}" class="{{_col.colClass}}">
                    <a href="" ng-if="::_col.canSort"
                       ng-click="_model.toggleSort($index)">{{::_col.label || (_col.key | labelCase)
                        }}&nbsp;<i class="fa" style="display: inline;" ng-class="{
                         'fa-sort'     : _model.sort !== $index,
                         'fa-sort-down': _model.sort === $index &&  _model.sortAsc,
                         'fa-sort-up'  : _model.sort === $index && !_model.sortAsc
                         }"></i>
                    </a>
                    <span ng-if="::!_col.canSort">
                        {{::_col.label || (_col.key | labelCase)}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody  ng-show="!_model.waiting">
            <tr>
                <td ng-repeat="_col in _model.cols" db-bind-cell></td>
            </tr>
        </tbody>
    </table>
    <div ng-if="_model.filteredItems && _model.filteredItems.length === 0 && _model.label && !_model.waiting" class="db-summary">
        No {{_model.label}}.
    </div>

    <ul class="pagination" ng-if="_model.total > _model.pageSize && !_model.waiting && _model.pagingLayout !== 'none' || _model.pagingLayout !== 'top'" >
        <li ng-if="_model.currentPage > 1">
            <a href="" aria-label="First" ng-click="_model.setPage(1)">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage <= 1">
            <a href="" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li ng-if="_model.currentPage > 1">
            <a href="" aria-label="Previous" ng-click="_model.setPage(_model.currentPage - 1)">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage <= 1">
            <a href="" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li ng-repeat="page in _model.getPages()" ng-class="{active: page === _model.currentPage}">
            <a href="" ng-click="_model.setPage(page)">{{page}}</a>
        </li>

        <li ng-if="_model.currentPage < (_model.total / _model.pageSize)">
            <a href="" aria-label="Next"  ng-click="_model.setPage(_model.currentPage + 1)">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage >= (_model.total / _model.pageSize)">
            <a href="" aria-label="Next" class="disabled">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li ng-if="_model.currentPage < (_model.total / _model.pageSize)">
            <a href="" aria-label="Last" ng-click="_model.setPage(1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize)">
                <span aria-hidden="true">Last ({{1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize}})</span>
            </a>
        </li>
        <li class="disabled" ng-if="_model.currentPage >= (_model.total / _model.pageSize)">
            <a href="" aria-label="Last" class="disabled">
                <span aria-hidden="true">Last ({{1 + (_model.total - (_model.total % _model.pageSize)) / _model.pageSize}})</span>
            </a>
        </li>

    </ul>


    <div ng-show="_model.waiting">
        <i class="fa fa-circle-o-notch fa-spin"></i> Please Wait...
    </div>
</div>
