<div class="table-responsive">

    <div class="btn-toolbar">
        <a ng-if="_model.showAdvancedFilter" href="" class="btn btn-default" ng-click="_model.clearFilters()">Clear All Filters <span class="big-x">&times;</span></a>

        <div ng-if="!_model.showAdvancedFilter && _model.filterType !== 'none'" class="toolbar-input">
            <div class="form-group has-feedback">
                <input class="form-control" type="text" ng-model="_model.filterText" ng-keyup="$grid.refresh()"
                       placeholder="Filter {{_model.label || 'items'}}" on-enter="_model.onEnter()" isolate-control />
                <a href="" ng-click="_model.filterText = ''; $grid.refresh()" class="form-control-feedback feedback-link">&times;</a>
            </div>
        </div>

        <a href="" ng-if="_model.filterType === 'advanced'" class="btn btn-default" ng-class="{'btn-primary': _model.showAdvancedFilter}"
           ng-click="_model.showAdvancedFilter = !_model.showAdvancedFilter">{{_model.showAdvancedFilter ? 'Simple' : 'Advanced'}} Filtering</a>

        <db-transclude></db-transclude>

        <p ng-if="_model.total && _model.label"><i>{{_model.total}} {{_model.label}}</i></p>
    </div>

    <table class="table db-grid table-hover {{_model.layoutCss}}">
        <thead>
            <tr ng-if="_model.showAdvancedFilter">
                <th ng-repeat="_col in _model.cols" ng-style="{width: _col.width}" class="{{_col.layoutCss}}">
                    <div ng-if="::_col.sortable">
                        <input type="text" class="form-control filter-input" on-enter="_model.onEnter()"
                               ng-keyup="$grid.refresh()" ng-model="_col.filter" placeholder="Filter {{::_col.label || (_col.key | labelCase)}}"
                               tooltip="{{_model.getTooltip(_col)}}"  tooltip-trigger="focus"
                               tooltip-placement="top" isolate-control />
                    </div>
                </th>
            </tr>
            <tr>
                <th ng-repeat="_col in _model.cols" ng-style="{width: _col.width}" class="{{_col.layoutCss}}">
                    <a href="" ng-if="::_col.sortable"
                       ng-click="_model.toggleSort($index)">{{::_col.label || (_col.key | labelCase)
                        }}&nbsp;<i class="fa" style="display: inline;" ng-class="{
                         'fa-sort'     : _model.sort !== $index,
                         'fa-sort-down': _model.sort === $index &&  _model.sortAsc,
                         'fa-sort-up'  : _model.sort === $index && !_model.sortAsc
                         }"></i>
                    </a>
                    <span ng-if="::!_col.sortable">
                        {{::_col.label || (_col.key | labelCase)}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody  ng-show="!_model.waiting">
            <tr>
                <td ng-repeat="_col in _model.cols" db-bind-cell></td>
            </tr>
        </tbody>
    </table>
    <div ng-if="_model.filteredItems && _model.filteredItems.length === 0 && _model.label && !_model.waiting" class="db-summary">
        No {{_model.label}}.
    </div>
    <pagination ng-if="_model.total > _model.pageSize && !_model.waiting" total-items="_model.total" items-per-page="_model.pageSize" max-size="10" rotate="false" ng-model="_model.currentPage" isolate-control></pagination>
    <div ng-show="_model.waiting">
        <i class="fa fa-circle-o-notch fa-spin"></i> Please Wait...
    </div>
</div>
